/**
* CSS for personal site.
* Created by Dawid Keyser
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');

/* ---------------------------------------------- BODY and DIV --------------------------------------------------------------- */

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

header {
    padding: 2em 0;
}

hr {
    border: dotted #F0EFEF;
    border-bottom: none;
    width: 2rem;
    margin: 2rem auto;
}



.land-holder {
    width: 800px;
    height: 300px;
    margin: 0 auto;
}

.profile-picture-fig {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 20px 0;
}

.top-container {
    padding-top: 100px;
    position: relative;
    background-color: #E4F9F5;
}

.bottom-container {
    background-color: #30E3CA;
    margin-top: 2.5em;
    padding: 1.5rem 0 0.8rem;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.design-container {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.design {
    position: absolute;
    top: 2.6em;
    right: 0;
    width: 77px;
    height: 77px;
    border-radius: 50px;
    overflow: hidden;
    animation-name: design-bubble-vert;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    background-image: url(/Pictures/images/design-icons-vert.png);
}

.dev {
    position: absolute;
    top: 2.6em;
    left: 2%;
    width: 77px;
    height: 77px;
    border-radius: 50px;
    overflow: hidden;
    animation-name: design-bubble-vert;
    animation-duration: 20s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    background-image: url(/Pictures/images/dev-icons-vert.png);
}

.design-info-offset, .dev-info-offset{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.home-design-info {
    width: 80%;
    margin: 0 auto;
    position: relative;
    align-items: center;
    background-image: url(/Pictures/images/line-bg.png);
    background-position: center center;
    background-repeat: repeat-x;
}

.home-dev-info {
    width: 80%;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.home-design-info figure {
    max-width: 150px;
    margin: 0;
}

.dev-figure {
    max-width: 150px;
    margin: 0;
    position: relative;
    left: 85%;
}



#hello {
    padding: 3em 0 0;
    margin: 0 0 3em;
}

#hello article {
    margin: 0 auto;
    max-width: 460px;
}

#hello article figure {
    margin: 0 auto;
    max-width: 150px;
}

#what-i-do {
    z-index: 980;
    position: relative;
    background: #fff;
    padding: 0;
}

#design, #dev {
    margin: 1em 0;
    text-align: center;
}

#design-info, #dev-info{
    margin: 0 auto;
    width: 80%;
}


/* ---------------------------------------------------- TEXT ----------------------------------------------------------------- */

h1 {
    margin: 50px auto 0 auto;
    font-size: 5rem;
    line-height: 2;
    color: #1e836c;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #45b29a;
    margin-top: 20px;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #45b29a;
}

p {
    margin: 0;
    font-size: 1.2rem;
    padding: 1em;
    line-height: 2;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: #45b29a;
    margin: 0.8rem 1rem;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

article header h2 {
    color: #1e836c;
    text-align: center;
    font-size: 3.8rem;
    font-weight: normal;
}


.contact-me h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.contact-me h3 {
    font-size: 1.5rem;
    padding-top: 1em;
    margin: 10px auto 50px auto;
}

#hello article h3 {
    text-align: center;
    padding: 0.5em 0;
}

#hello article p {
    text-align: center;
}

#copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 1rem 0;
}



/* ---------------------------------------------------- BUTTON --------------------------------------------------------------- */

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}



/* ---------------------------------------------------- IMAGES --------------------------------------------------------------- */

#mountain {
    width: 100%;
}

#left-cloud {
    position: absolute;
    left: 5%;
    bottom: 60%;
}

#right-cloud {
    position: absolute;
    top: 15%;
    right: 8%;
}

#profile-picture {
    width: 100%;
}


/* ---------------------------------------------------- @KEYFRAMES --------------------------------------------------------------- */

@keyframes design-bubble-vert {
    0% {
        background-position: 0 0;
    }
    
    5% {
        background-position: 0 77px;
    }
    35% {
        background-position: 0 77px;
    }
    40% {
        background-position: 0 154px;
    }
    68% {
        background-position: 0 154px;
    }
    73% {
        background-position: 0 231px;
    }
    100% {
        background-position: 0 231px;
    }
}