/**
* CSS for personal site.
* Created by Dawid Keyser
*/


/* Body and Div */ 
body {
    margin: 0;
    text-align: center;
}

.top-container {
    padding-top: 100px;
    position: relative;
    background-color: #E4F9F5;
}

.middle-container {
}

.bottom-container {
}





/* Text */
h1 {
    margin-top: 0;
}





/* Images */
#mountain {
    width: 1000px;
}

#left-cloud {
    position: absolute;
    width: 150px;
    left: 20px;
    bottom: 40%;
}

#right-cloud {
    position: absolute;
    width: 150px;
    top: 110px;
    right: 80px;
}